---
import Layout from '../layouts/Layout.astro';
import { TextInput } from '~/src';
---

<Layout title="Astroval Demo">
	<Fragment slot="main">
    <form>
      <div>
        <TextInput name="test" required={true} />
      </div>
      <div>
        <TextInput name="test" required={false} />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </Fragment>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>
