---
import Layout from '../layouts/Layout.astro';
import { TextInput } from '~/src';
import { AstrovalForm } from '~/src';
---

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>

<Layout title="Astroval Demo">
	<Fragment slot="main">
    <AstrovalForm id="my-form">
      <div>
        <label for="name">Name</label>
        <TextInput name="name" required={true} requiredErrorMessage='Please enter your name' />
      </div>
      <div>
        <label for="role">Role</label>
        <TextInput name="role" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </AstrovalForm>
  </Fragment>
</Layout>

<script>
  import { Astroval } from "~/src";

  const formEl = document.querySelector<HTMLFormElement>('form#my-form');
  const astroval = new Astroval(formEl, {
    onValidated: () => {
      console.log('Validated!');
    },
    onInvalidated: () => {
      console.log('Invalidated!');
    },
  });
</script>