---
import Layout from '../layouts/Layout.astro';
---

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>

<Layout title="Astroval Demo">
	<Fragment slot="main">
    <h1>Thanks for submitting!</h1>
  </Fragment>
</Layout>
